.App {
  text-align: center;
  font-size: 1.5rem;
margin-left: 1rem;
}

input {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px;
  font-size: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}

/* Thiết lập định dạng cho button khi được hover */
button:hover {
  background-color: #0069d9;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 60%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 12px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}